.calculator {
    text-align: center;
    border-radius: 20px;
    height: 40%;
    width: 40%;
  }
  h2{
    text-align: center;
    margin-bottom: 1rem;
  }
  input{
    margin-bottom: 1rem;
    display: block;
    width: 20%;
   
  }
  button{
    margin-bottom: 1rem;
    display: inline;
    width:2rem;
    gap:1px;
  }
  .errorl{
    color: red;
  }
  .successl{
    color: green;
  }